<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <label>RawText</label>
    <p th:text="${formEncoder.getRawPassword()}"></p><br>
    <label>After encode:</label>
    <p th:text="${formEncoder.getEncodedPassword()}"></p><br>
    <label>Metoda match - inny text zwraca:</label>
    <p th:text="${matchFalse}"></p><br>
    <label>Metoda match - ten sam text zwraca:</label>
    <p th:text="${matchTrue}"></p><br>

</body>
</html>
